* {
    margin: 0;
    padding: 0;
}

#maindiv {
    float: left;
    margin: 0;

    width: auto;
    height: auto;
    background-color: lightgrey;
}

.block {
    border: 3px solid red;
    padding: 20px;
    margin: 30px 20px 30px 20px;
}

.imageleft {

    margin: 0 10px 0 0;
}

body {
    background-image: url("images/house.png");

}

#fdiv {
    margin-left: 17px;
}

#div2 {
    background: url("images/fon2.gif");
    width: 300px;
    height: auto;
    overflow: hidden;
    display: block;

}

#no {
    visibility: hidden;
}

