.block {
    border: 3px solid red;
    padding: 20px;
    margin: 30px 20px 30px 20px;
}

.imageleft {
    float: left;
    margin: 0 10px 0 0;
}

.clr {
    clear: both;
}

/*.posout {*/
    /*width: 300px;*/
    /*height: 300px;*/
    /*background: #cccccc;*/
    /*border: 1px solid #0000ff;*/
    /*position: fixed;*/
    /*left: 950px;*/
/*}*/

.wstyle {
    background-image: url("images/house.png");

}

#fdiv{
    /*border: 1px solid red;*/
    margin-left: 17px;

}

